.App {
  text-align: center;
  font-size: 24px;
  background-color: skyblue;
}
.Rock {
  font-size: 30px;
  position: absolute;
  left: 800px;
  top: 10px;
  background-color: aqua;
  border-radius: 10%;
  width: 100px;
}
.Paper {
  font-size: 30px;
  position: absolute;
  left: 900px;
  top: 100px;
  background-color: aqua;
  border-radius: 10%;
  width: 100px;
}

.Scisor {
  position: absolute;
  left: 700px;
  font-size: 30px;
  top: 100px;
  background-color: aqua;
  border-radius: 10%;
  width: 100px;
}
.playerOnes {
  position: absolute;
  left: 100px;
}
.playerTwos {
  position: absolute;
  Right: 100px;
}
.Rps {
  background-color: skyblue;
  height: 836px;
  width: 1000px;
}